@charset "utf-8";
@import "_base_setting.scss";
@import "_mixin.scss";


/*-----------------------------------------------
 --header
-----------------------------------------------*/

/* Global Menu http://www.kerenor.jp/hover-effects-with-css/*/

header{
    margin-bottom: 13em;
    position: relative;
    width: 100%;
    background-color: #444;
}
ul > li{
    display: inline-block;
}
ul > li > a{
    padding: 15px 30px;
    display: block;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: .2em;
}
ul > li > span{
    margin-left: 1.2em;
}
ul > li:hover > a{
    background-color: #efefef;
    color: #444;
}

/* Submenu */

ul li ul{
    position: absolute;
    top: 55px;
    left: 0;
}
ul li ul li{
    display: block;
}
ul li ul li a{
    background-color: #efefef;
    color: #444;
}
ul li ul li a:hover{
    background-color: #ddd;
}

.pcnav ul li ul{
    display: none;
}
.pcnav ul li:hover ul{
    display: block;
}