@charset "utf-8";
@import "_mixin.scss";

/*-----------------------------------------------
--layout
-----------------------------------------------*/

.l_1{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    box-sizing: border-box;
    //position: relative;
    &.l_side {
        max-width: calc(960px + 10%);
        padding-right: 5%;
        padding-left: 5%;
    }
    &.l_side_25 {
        max-width: calc(960px + 10%);
        padding-right: 2.5%;
        padding-left: 2.5%;
    }
}

/*-----------------------------------------------
--color
-----------------------------------------------*/

$c1: #58b530;
$c2: #ea5413;
$c3: #f6de17;
$c4: #d70051;
$c5: #56c3f1;
$c6: #ffe446;
$c7: #e4007f;

$google-color: #C53727;
$facebook-color: #3B5998;
$twitter-color: #00aced;
$line-color: #5ae628;
$instagram-color: #3f729b;
$tumblr-color: #34526f;

/*-----------------------------------------------
--段落用（レスポンシブ）
-----------------------------------------------*/

.pc{
    display: block;
    @include media(767px) {display: none;}
}
.sp{
    display: none;
    @include media(767px) {display: block;}
}

img{
    width:100%;
}

/*-----------------------------------------------
--ホバーアクション（透過）
-----------------------------------------------*/

a{
    display: block;
}
a:hover{
    opacity: 0.8;
}


/*-----------------------------------------------
--画面ローディング
-----------------------------------------------*/


body {
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

/*-----------------------------------------------
--フロート
-----------------------------------------------*/

.left{
    float:left;
}
.right{
    float:right;
}
.clearfix:after{
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
}

/* Hides from IE Mac \*/
* html .clearfix {height: 1%;}
.clearfix{display:block;}
/* End Hack */ 

/*-----------------------------------------------
--Flex
-----------------------------------------------*/

.flex {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:stretch;
    @include media(767px) {
        justify-content:space-around;
    }
}