@charset "utf-8";
@import "_mixin.scss";

/*-----------------------------------------------
 --fontweight
-----------------------------------------------*/
.fw700 {font-weight: 700;}
.fw600 {font-weight: 600;}
.fw500 {font-weight: 500;}
.fw400 {font-weight: 400;}
.fw300 {font-weight: 300;}

/*-----------------------------------------------
 --letterspacing centering
-----------------------------------------------*/
.lt1 {letter-spacing: .1em;text-indent: .1em;}
.lt2 {letter-spacing: .2em;text-indent: .2em;}
.lt3 {letter-spacing: .3em;text-indent: .3em;}

/*-----------------------------------------------
 --fontsize
-----------------------------------------------*/

.fz_36 {
	font-size: 36px;
	@include media(767px) {font-size: 30px;}
	@include media(600px) {font-size: 24px;}
}
.fz_30 {
	font-size: 30px;
	@include media(767px) {font-size: 24px;}
	@include media(600px) {font-size: 20px;}
}
.fz_28 {
	font-size: 27px;
	@include media(767px) {font-size: 23px;}
	@include media(600px) {font-size: 19px;}
}
.fz_24 {
	font-size: 24px;
	@include media(767px) {font-size: 20px;}
	@include media(600px) {font-size: 16px;}
}
.fz_20 {
	font-size: 20px;
	@include media(767px) {font-size: 18px;}
	@include media(600px) {font-size: 15px;}
}
.fz_18 {
	font-size: 18px;
	@include media(767px) {font-size: 16px;}
	@include media(600px) {font-size: 14px;}
}
.fz_16 {
	font-size: 16px;
	@include media(767px) {font-size: 14px;}
}
.fz_15 {
	font-size: 15px;
	@include media(767px) {font-size: 14px;}
}
.fz_14 {
	font-size: 14px;
	@include media(767px) {font-size: 13px;}
}
.fz_13 {
	font-size: 13px;
	@include media(600px) {font-size: 12px;}
}
.fz_12 {
	font-size: 12px;
	@include media(600px) {font-size: 10px;}
}